
.btn{
    &,
    &:link,
    &:visited{
        text-transform: uppercase;
        text-decoration: none;
        padding: 1.5rem 4rem;
        display: inline-block;
        transition: all .2s;
        border-radius: 10rem;
        position: relative;
        font-size: $default-font-size;
        transition:all .2s;

        //changes for the button element
        border: none;
        cursor: pointer;
    
        
    }

    
    &:hover{
        transform: translateY(-3px);
        box-shadow: 0 1rem 2rem rgba($color-black, .2);

        &::after{
            transform: scalex(1.4) scaleY(1.6);
            opacity: 0;
        }
    }
    
    &:active,
    &:focus{
        outline: none;
        transform: translateY(1px);
        box-shadow: 0 .5rem 1rem rgba($color-black, .2);
    
    }
    
    
    &--white{
        background-color: $color-white;
        color: $color-grey;
        &::after{
            background-color: #fff;
            
        }
    }
    &--green{
        background-color: $color-green-dark;
        color: $color-grey;
        &::after{
            background-color: $color-green-light;
            
        }
    }
    
    &::after{
        content: "";
        display: inline-block;
        width: 100%;
        height: 100%;
        border-radius: 10rem;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all .4s;
    }
    
 
    
  
    
    &--animate{
        animation: moveInBottom .5s ease-out .75s;
        animation-fill-mode: backwards;
    
    }
    
}

.btn-text{
    &:link,
    &:visited{
        color: $color-green-light;
        display: inline-block;
        text-decoration: none;
        padding: 3px;
        border-bottom: 3px $color-green-light;
        font-size: $default-font-size;
        transition:all .2s;
    }
    &:hover{
        transform: translateY(-2px);
        background-color:$color-green-dark;
        box-shadow: 0 1rem 2rem rgba($color-black, .15);
        color: $color-white;
    }
    &:active{

        transform: translateY(0px);
        box-shadow: 0 1rem 2rem rgba($color-black, .15);

    }
}
