.section__about{
    background-color: $color-grey-light-1;
    padding: 25rem;
    margin-top: -20vh;
}

.section__features{
    padding: 20rem 0;
    background-image: linear-gradient(to bottom right,
    rgba($color-green-light, 0.8),
    rgba($color-green-dark, 0.8)),
    url(../img/nxt-17.jpg);
    background-size: cover;
    background-position: center;
    transform: skewY(-7deg);
    margin-top: -10rem;

    &>*{
        transform: skewY(7deg);
    }
}