.navigation{
    &__checkbox{
        display: none;
        
    }
    &__button{
        background-color: $color-white;
        width: 7rem;
        height: 7rem;
        position: fixed;
        top: 6rem;
        right: 6rem;
        border-radius: 50%;
        z-index: 2000;
        box-shadow: 0 1rem 3rem rgba($color-black, 0.4);
        text-align: center;
        cursor: pointer;

        @include respond(tab-port){
            
        }
        
    }
    &__background{
        height: 6rem;
        width: 6rem;
        border-radius: 50%;
        background-image:  url(../img/nxt-17.jpg);
        background-size: cover;
        position: fixed;
        top: 6.5rem;
        right: 6.5rem;
        z-index: 1000;
        transition: transform .8s cubic-bezier(0.83, 0, 0.17, 1);

        // transform: scale(45);

       
        
    }
    &__nav{
        height: 100vh;
        width: 0;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1500;
        opacity: 0;
        transition: all 1s cubic-bezier(0.68, -0.6, 0.32, 1.6);
        
    }
    &__list{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        list-style: none;
        text-align: center;
        
    }
    &__item{
        margin: 1rem;
        
    }
    &__link{
        display: inline-block;
        text-decoration: none;
        font-size: 3rem;
        font-weight: 300;
        padding: 1rem 2rem;
        color: $color-white;
        text-transform: uppercase;
        background-image: linear-gradient(120deg, transparent 0%, transparent 50%, $color-white 50%), ;
        background-size: 230%;
        background-repeat: no-repeat;
        transition: all .4s;

        &:hover,
        &:active{
            background-size: 100%;
            color: $color-green-dark;
            transform: translateX(1rem);
        }

        span{
            margin-right: 1rem;
            display: inline-block;
        }
        
    }
    //functionality

    &__checkbox:checked ~ &__background{
        transform: scale(60);
    }
    &__checkbox:checked ~ &__nav{
        width: 100%;
        opacity: 1;
    }

    //icon

    &__icon{
        position: relative;
        margin-top: 3.5rem;
        &,
        &::before,
        &::after{
            width: 3rem;
            height: 2px;
            display: inline-block;
            background-color: $color-grey-dark-2;
            transition: all .2s;

        }
        &::before,
        &::after{
            content: '';
            position: absolute;
            left: 0;
        }
        &::before{
            top: -.8rem;
        }
        &::after{
            top: .8rem;
        }

    }

    &__button:hover &__icon::before{
        top: -1rem;
    }
    &__button:hover &__icon::after{
        top: 1rem;
    }

    &__checkbox:checked + &__button &__icon{
        background-color: transparent;
    }
    &__checkbox:checked + &__button &__icon::before{
        top: 0;
        transform: rotate(45deg);
    }
    &__checkbox:checked + &__button &__icon::after{
        top: 0;
        transform: rotate(-45deg);
    }

  
    
}